/* Contenedor principal para centrar el card */
.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Estilos para el card */
  .auth-form-card {
    max-width: 500px;
    width: 100%;
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .auth-form-card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  /* Estilos para el formulario, inputs y el botón */
  .auth-form-card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .auth-form-card input,
  .auth-form-card button {
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .auth-form-card input[type="file"] {
    padding: 3px;
  }
  
  .auth-form-card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .auth-form-card button:hover {
    background-color: #45a049;
  }
  
  .auth-form-card p {
    margin-top: 20px;
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .auth-form-card p:hover {
    color: #0056b3;
  }  
  input:focus {
    border-color: #FF4B28; /* Cambiar color de borde al enfocarse */
    box-shadow: 0 0 5px rgba(255, 75, 40, 0.5); /* Sombra al enfocar */
}

/* Estilos del botón */
button {
    border-radius: 8px; /* Bordes redondeados */
    border: none; /* Sin borde */
    background-color: #FF4B28; /* Color de fondo */
    color: #FFFFFF; /* Color de texto */
    font-size: 15px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    padding: 14px 10px; /* Espaciado interno */
    text-transform: uppercase; /* Mayúsculas */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    margin-left: 20px; /* Añadir espacio a la izquierda del botón */
}

button:hover {
    background-color: #FF4B28CC; /* Cambiar color de fondo al pasar el mouse */
    transform: translateY(-2px); /* Elevar ligeramente el botón */
}

/* Enlace para alternar entre formularios */
.toggle-form {
    margin-top: 25px; /* Espacio superior */
    color: #FF4B28; /* Color del texto */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    text-decoration: underline; /* Subrayar el texto */
    transition: color 0.3s; /* Transición suave para el color */
}

.toggle-form:hover {
    color: #FF4B28CC; /* Cambiar color al pasar el mouse */
}