/* Estilos generales */
.cart-container {
  max-width: 1200px;
  margin: 30px auto;
  padding-top: 40px; /* Desplaza el contenido hacia abajo */
  background-color: #f9f9f900;
  border-radius: 8px;
}

.cart-container h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px; /* Aumenta el espacio abajo del título */
}

/* Estilo para la lista de productos */
.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Espacio entre los productos */
  padding: 15px;
}

.cart-item-image {
  width: 80px; /* Tamaño pequeño de la imagen */
  height: 80px;
  object-fit: contain;
  margin-right: 15px; /* Espacio a la derecha de la imagen */
  border-radius: 4px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item-info h3 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 8px;
}

.cart-item-info p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.cart-item-info button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.cart-item-info button:hover {
  background-color: #d32f2f;
}

/* Estilo del total y el botón de compra */
.cart-total {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
}

.cart-total h3 {
  font-size: 1.5rem;
  color: #333;
}

.purchase-button {
  background-color: #FF4B28;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.purchase-button:hover {
  background-color: #d8431c;
}

/* Estilo cuando el carrito está vacío */
.cart-container p {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}