/* Estilos Generales */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #FF7F50, #FFD700);
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

/* Contenedor Principal */
.marcadores {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Secciones de Objetos */
.collectibles-sect {
  margin-bottom: 40px;
  margin-top: 120px;
}

.section-title {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilos de las Cards */
.jugadores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 20px;
  max-width: 1366px;
  margin: 0 auto;
}

.jugador-card {
  background-color: #FFEB3B;
  border-radius: 10px;
  padding: 30px; /* Reducimos el padding */
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 0 auto;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.jugador-card:hover {
  transform: scale(1.05);
}

.jugador-imagen {
  width: 185px;
  height: 185px;
  object-fit: cover;
  margin-bottom: 25px;
}

.jugador-card p {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

/* Ajuste para la imagen */
.jugador-imagen {
  width: 150px; /* Reducimos el tamaño de la imagen */
  height: 150px; /* Mantenemos las proporciones */
  object-fit: contain; /* Asegura que la imagen no se corte */
  margin-bottom: 25px;
}

/* Estilo del botón de eliminación */
.delete-button {
  position: absolute;
  top: 15px; /* Ajustamos el espacio desde la parte superior */
  right: 15px; /* Ajustamos el espacio desde la derecha */
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1; /* Removemos line-height para centrar mejor el icono */
}

.delete-button:hover {
  background-color: #c0392b;
}

/* Estilo Responsivo para Pantallas más Pequeñas */
@media (max-width: 768px) {
  .jugadores-grid {
      grid-template-columns: 1fr;
      padding: 10px;
  }

  .jugador-card {
      max-width: 100%;
  }
}