/* Estilos Generales */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #FF7F50, #FFD700);
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

/* Contenedor Principal */
.marcadores {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Secciones de Objetos */
.collectibles-sect {
  margin-bottom: 40px;
  margin-top: 120px; /* Espacio adicional para separar del header */
}

.section-title {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilos de las Cards */
.jugadores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 20px;
  max-width: 1366px;
  margin: 0 auto;
}

.jugador-card {
  background-color: #FFEB3B;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 0 auto;
  transition: transform 0.2s ease-in-out;
}

.jugador-card:hover {
  transform: scale(1.05);
}

.jugador-imagen {
  width: 185px;
  height: 185px;
  object-fit: cover;
  margin-bottom: 25px;
}

.jugador-card p {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

/* Estilo Responsivo para Pantallas más Pequeñas */
@media (max-width: 768px) {
  .jugadores-grid {
      grid-template-columns: 1fr;
      padding: 10px;
  }

  .jugador-card {
      max-width: 100%;
  }
}